<!DOCTYPE html>
<html ng-app="plantApp">
<head>
    <title>Tennessee Plant Directory</title>
    <link href="lib/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="lib/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="looks.css" rel="stylesheet" type="text/css" />
    <script src="lib/js/jquery-1.11.0.min.js"></script>
    <script src="lib/js/angular.min.js"></script>
    <script src="lib/js/angular-sanitize.min.js"></script>
    <script src="app.js"></script>
</head>
<body class="ng-cloak" ng-controller="mainCtrl">

    <div class="container">
        <h1>Tennessee Plant Directory</h1>
        <p>
            Data taken from the <a href="http://www.tva.gov/cgi-bin/plantDB/searchNativePlants.pl?showAll=1&sort=Common">Tennessee Valley Authority</a> website.
            The rest was hacked together by <a href="http://micha.gd">micha</a> and <a href="http://murrayju.com">justin</a>.
        </p>

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" ng-model="search">
        </div>
    </div>

    <table class="table table-striped table-responsive">
        <thead>
        <th ng-repeat="col in cols" ng-click="sortClick($index)">
            {{col.title}}
            <i ng-class="arrows($index)"></i>
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="plant in plants | orderBy:sortBy:reverse | filter:search">
            <td ng-repeat="col in cols">
                <div ng-if="col.id === 'picture'">
                    <img class='thumbnail' src="{{plant[col.id]}}" ng-click="setPic(plant[col.id])"/>
                </div>
                <div ng-if="col.id === 'common_name'">
                    <a href="{{plant.url}}">
                        {{plant[col.id]}}
                    </a>
                </div>
                <div ng-if="col.id === 'height_min' || col.id === 'height_max'" ng-bind-html="plant[col.id]"></div>
                <div ng-if="col.id !== 'picture' && col.id !== 'common_name' && col.id !== 'height_min' && col.id !== 'height_max'">
                    {{plant[col.id]}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="overlay" ng-show="currentPic" ng-click="currentPic = ''">
        <centered>
            <img src="{{currentPic}}"/>
        </centered>
    </div>
</body>
</html>
